#rankList{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    background: whitesmoke;
}
.box1{
    width: 100%;
    height: 1rem;
    background: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: .5rem;
    position: fixed;
    top: 0;
    z-index: 5;
}
.el-icon-arrow-left{
    margin-left: 2.5%;
}
.box1 span:nth-child(2){
    margin-left: 30%;
}
.box2{
    width: 90%;
    height: 3.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 1.2rem;
}
.box2-1{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
}
.box2-1::-webkit-scrollbar{
    display: none;
}
.box2-1 ul{
    padding: 0;
    margin: 0;
    height: auto;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}
.box2-1 ul li{
    width:  2.5rem;
    height: 2.5rem;
    border-radius: .3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: .2rem;
    background: rgba(0, 0, 0, .3);
}
.tags{
    width: 2.5rem;
    position: absolute;
    z-index: 4;
    margin-top: 2rem;
    color: white;
}
.pic{
    width: 2.5rem;
    position: absolute;
    z-index: -1;
    opacity: .2;
    border-radius: .3rem;
}
.box3{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: .2rem;
}
.box3 ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    height: auto;
}
.box3 ul li{
    width: 100%;
    height: 3rem;
    background: white;
    border-radius: .3rem;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: .2rem;
}
.box3-1{
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.box3-2{
    width: 3rem;
    height: 3rem;
    margin-left: 67%;
    position: absolute;
    z-index: 5;
    display: flex;
    flex-direction: column;
}
.pic2{
    width: 3rem;
    height: 3rem;
    border-radius: 0 .3rem .3rem 0;
}
.pic3{
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    z-index: -1;
    border-radius: .3rem;
}
.box4{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: .2rem;
}
.box4 ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.box4-1{
    width: 100%;
    height: 3rem;
    margin-top: .2rem;
    display: flex;
    flex-direction: column;
}
.box4-2{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}
.box4-3{
    width: 2.8rem;
    height: 2.8rem;
    margin-right: .1rem;
    margin-left: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: .35rem;
    border-radius: .3rem;
    white-space: pre-wrap;
    word-break:unset
}
.box5{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: .2rem;
}

.box5-1{
    width: 100%;
    height: 3rem;
    margin-top: .2rem;
    display: flex;
    flex-direction: row;
}
.box5-2{
    width: 2.8rem;
    height: 2.8rem;
    background: skyblue;
    margin-right: .1rem;
    margin-left: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: .4rem;
    border-radius: .3rem;
}
.box6{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: .2rem;
}
.box6-1{
    width: 100%;
    height: 3rem;
    margin-top: .2rem;
    display: flex;
    flex-direction: row;
}
.box6-2{
    width: 2.8rem;
    height: 2.8rem;
    background: skyblue;
    margin-right: .1rem;
    margin-left: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: .4rem;
    border-radius: .3rem;
}