#search{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    background-color: white;
    z-index: 6;
  }
  .isnotsearch{
    width: 100%;
    top:1.1rem;
  }
  .issearch{
  width: 100%;
  height: 100%;
  top: 0;
  }
  .tosearch{
  width: 90%;
  height: 1rem;
  font-family: Helvetica;
  background-color: gainsboro;
  border: none;
  border-radius: .5rem;
  opacity: .5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: .5rem;
  }
  .istosearch{
  width: 80%;
  height: 1rem;
  font-family: Helvetica;
  background-color: gainsboro;
  border: none;
  border-radius: .5rem;
  opacity: .5;
  position: fixed;
  top: .5rem;
  left: .3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  }
  .tocancel{
  position: absolute;
  z-index: 1;
  right: .4rem;
  top: .7rem;
  font-size: .5rem;
  }
  label{
  position: relative;
  display: block;
  overflow: hidden;
  }
  label::before{
  content: attr(data-before);
  }
  label::after{
  content: attr(data-after);
  }
  label::before,label::after{
  display: block;
  position: absolute ;
  width: 100%;
  height: 100%;
  font-family: inherit;
  box-sizing: border-box;
  }
  @keyframes placeholder-before {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
  }
  
  @keyframes placeholder-after {
  0% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
  }
  
  .animate::before {
  animation: .25s placeholder-before ease-in-out;
  }
  
  .animate::after {
  animation: .25s placeholder-after ease-in-out;
  }
  
  .animate::before, .animate::after {
  animation-fill-mode: forwards;
  }
  .el-icon-search{
  font-size: .7rem;
  opacity: .5;
  margin-left: 5%;
  margin-right: 2%;
  }
  input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: .5rem;
  }
  /** 搜索历史-热门搜索 */
  .historyTitle{
    font-size:.45rem;
    margin-left: .5rem;
    font-weight: 600;
  }
  .searchHistory{
    width: 100%;
    height: 1.5rem;
    top:2rem;
    position:fixed
  }
  .hotSearch {
    width: 100%;
    height: auto;
    top: 3.5rem;
    position: fixed;
  }
  #doubleRank {
    width: 100%;
    height: 100%;
  }
  #doubleRank ul {
    overflow: hidden;
    width: 100%;
    background: none;
    padding: 0;
    margin: 0;
  }
  #doubleRank li {
    list-style: none;
    float: left;
    width: 5rem; /*可以用百分比*/
    height: 1.3rem; /*可以用百分比*/
    margin-bottom: .1rem;
  }
  #doubleRank li > div {
    margin: 0 10px;
    border-radius: 8px;
    height: 1rem;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
  }
  #doubleRank .index{
    font-size: .4rem;
    margin-left: .3rem;
    margin-right: .3rem;
  }
  #doubleRank .searchWord{
    width: 3.5rem;
    height: 0.5rem;
    font-size: .4rem;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  #doubleRank .name{
    width: 3.5rem;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space: nowrap;
  }
  