.song-block{
  width: 100%;
  margin-top: .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#musicstore{
    width: 100%;
    height: 100%;
  }
  .bottom{
    width: 100%;
    height: 4rem;
  }
  .allrank,.singer,.itemizes{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    background-color: whitesmoke;
    top:0;
  }
  .box{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box img{
    width: .8rem;
}
.title{
    font-family: Helvetica;
    font-size: .4rem;
    margin-top: .15rem;
    color: black;
}
/** 新歌推荐模块样式 */
#musicstore >>> .el-tabs__content {
  width: 100%;
  height: 100%;
  margin-left: 10%;
}
.el-tabs {
  width: 100%;
  height: 100%;
}
#musicstore >>> .el-tabs__header {
  width: 70%;
  margin: 0;
}
#musicstore >>> .el-tabs__active-bar {
  background: transparent;
}
#musicstore >>> .el-tabs__nav-wrap::after {
  position: static !important;
}
#musicstore >>> .el-tabs__item.is-active {
  color: #000;
  font-weight: 600;
}
#numcd{
    width: 100%;
    background-color: white;
    margin-top: .2rem;
}
#numcd >>> .el-button{
    width: 3rem;
    height: .9rem;
    color: white;
    background-color: yellowgreen;
    border: none;
    margin-top: .2rem;
}
.cdpic {
  width: 3rem;
  height: 3rem;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
}
.sell span:nth-child(1) {
  font-size: 0.4rem;
  color: grey;
}
.sell span:nth-child(2) {
  font-size: 0.6rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  color: black;
}
.sell span:nth-child(3) {
  font-size: 0.4rem;
  color: grey;
}
/** 排行榜 */
.rankBox{
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  overflow: scroll;
}
.rankBox::-webkit-scrollbar{
    display: none;
}
.rankBox .name{
    font-size: .5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: .1rem;
}
.rankBox img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: .3rem;
    position: absolute;
    z-index: 1;
}
.rankBox ul{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    flex-direction: row;
}
.rankBox li{
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    margin-right: .3rem;
}
.rankBox .box{
    width: 100%;
    position: relative;
}
.rankBox .message{
    margin-top: .25rem;
    width: 100%;
    height: 3rem;
    border-radius: .3rem;
}
.rankBox .message div{
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
}
.rankBox .message div div{
    margin: 0;
    display: flex;
    flex-direction: row;
    margin-top: .1rem;
    font-size: .4rem;
    color: black;
}
.rankBox .message div div span{
    color: grey;
    margin-left: .3rem;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: .1rem;
}