#songlist {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: white;
  }
  /** 标题 */
  .title {
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    position: fixed;
    z-index: 1;
    top: 0;
    background: gainsboro;
    overflow: hidden;
    color: white;
  }
  .title > img {
    width: 100%;
    height: 6rem;
    position: absolute;
    filter: blur(0.1rem);
    z-index: -2;
    opacity: 0.5;
    margin-top: 50%;
  }
  /** 歌单上半部分 */
  .pic1 {
    width: 100%;
    height: 6rem;
    position: absolute;
    opacity: 0.5;
    filter: blur(0.1rem);
    z-index: -1;
  }
  .sign {
    width: 33.3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .el-icon-chat-dot-square {
    font-size: 0.5rem;
    color: gainsboro;
  }
  /** VIP */
  /** 搜索组件 */
  .search {
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
  }
  .search > div {
    width: 90%;
    height: 60%;
    border-radius: 0.4rem;
    border: none;
    background: rgb(238, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    width: 50%;
    height: 100%;
    border: none;
    background: transparent;
    outline: none;
  }
  input::-webkit-input-placeholder {
    text-align: center;
  }
  .el-icon-search {
    font-size: 0.4rem;
    color: gray;
  }
  /** 歌单列表 */
.list {
    width: 100%;
    height: 9rem;
    overflow: scroll;
    background: white;
  }
  .list::-webkit-scrollbar {
    display: none;
  }
  .list > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  .list > ul > li {
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
  }
  .index{
    width: 14%;
    height: 100%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .index span:nth-child(1) {
    color: gray;
    font-size: 0.4rem;
  }
  .index span:nth-child(2) {
    color: black;
    font-size: 0.3rem;
  }
  .nameBox {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1%;
  }
  .name{
      width: 100%;
      font-size: .45rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }