#songList{
    width: 90%;
    height: 100%;
}
.box1{
    width: 100%;
    height: .8rem;
}
.box1 span{
    font-size: .5rem;
    color:black;
}
.box2{
    width: 100%;
    height: 4rem;
    overflow: scroll;
}
.box2::-webkit-scrollbar{
    display: none;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-bottom: .2rem;
}
ul li{
    width: 2.5rem;
    height: 3.6rem;
    position: relative;
    margin-right: .3rem;
}
.box{
    width: 2.5rem;
    height: 3.6rem;
    display: flex;
    flex-direction: column;
}
.box span{
    width:2.5rem;
    height: 1rem;
    margin-top: .1rem;
    font-size: .35rem;
    display: block;
    word-break:normal;
    white-space:pre-wrap;
    word-wrap : break-word ;
    overflow: hidden ;
}
img{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .3rem;
}
.tag{
    position: absolute;
    color: white;
    margin-top: 2.1rem;
    width: 1.8rem;
    height: .5rem;
    background-color: gainsboro;
    border-radius: .2rem;
    font-size: .3rem;
}
