#hello{
    width: 90%;
    height: 100%;
}
.box1{
    width: 100%;
    height: .8rem;
    font-size: .5rem;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #fff;
}
.box1 span{
    margin-right: .2rem;
    font-weight: 700;
}
.box2{
    width: 100%;
    height: 4rem;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}
.box2::-webkit-scrollbar{
    display: none;
}
.box3{
    width: 3rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right: .3rem;
}
/** 歌单上的标标 **/
.tag0{
    width: 1rem;
    height: 1rem;
    position: absolute;
    background-color: blue;
    z-index: 1;
    border-radius: .3rem 0 2rem 0;
}
.tipe0{
    position:absolute;
    font-size:.4rem;
    z-index:2;
    color:white;
    margin-top: .2rem;
    font-weight: 900;
    margin-left: .3rem;
}
.tag1{
    width: 1rem;
    height: 1rem;
    position: absolute;
    background-color: greenyellow;
    z-index: 1;
    margin-left: 2rem;
    border-radius: 0 .3rem 0 2rem;
}

.tipe1{
    position:absolute;
    font-size:.4rem;
    z-index:2;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: .2rem;
    font-weight: 900;
    margin-left: 1.8rem;
}
.tipe0-1{
    position:absolute;
    font-size:.4rem;
    z-index:2;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
    margin-left: .3rem;
    margin-top: .6rem;
}
.tag2{
    width: 1rem;
    height: 1rem;
    position: absolute;
    background-color: pink;
    z-index: 1;
    margin-top: 2rem;
    margin-left: 2rem;
    border-radius: 2rem 0 .3rem 0;
}
.tipe2{
    position:absolute;
    font-size:.4rem;
    z-index:2;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 2.4rem;
    font-weight: 900;
    margin-left: 1.8rem;
}
.tag3{
    width: 1rem;
    height: 1rem;
    position: absolute;
    background-color: purple;
    z-index: 1;
    margin-top: 2rem;
    border-radius: 0 2rem 0 .3rem;
}
.tipe3{
    position:absolute;
    font-size:.4rem;
    z-index:2;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 2.4rem;
    font-weight: 900;
    margin-left: .5rem;
}
.name{
    font-size: .35rem;
    margin-top: .1rem;
}
/** 当前播放的歌曲的封面 **/
.pic{
    width: 3rem;
    height: 3rem;
    position: absolute;
    z-index: 4;
    border-radius: .3rem;
}
/** 待播放歌曲封面 **/
.pic0{
    width: 2rem;
    height: 2rem;
    border-radius: .3rem;
    position: absolute;
    z-index: 1;
    margin-left: 1rem;
}
.pic1{
    width: 2rem;
    height: 2rem;
    border-radius: .3rem;
    margin-left: 2rem;
}
/** 推荐歌单的封面 **/
.pic2{
    width: 3rem;
    height: 3rem;
    border-radius: .3rem;
}
/** 播放器模板 **/
.list1{
    margin-top: .5rem;
    width: 6rem;
    margin-left: .1rem;
}
.list1 li:nth-child(1){
    margin-right: .5rem;
}
.list1 li:nth-child(2){
    margin-left: .6rem;
    margin-top: .5rem;
}
.list1 li:nth-child(3){
    margin-top: .5rem;
}
/** 歌单排序 **/
.list2 li{
    margin-right: .2rem;
}