.thesongbox {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 1.2rem;
    height: 2rem;
    z-index: 5;
  }
  .theplaysong{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0;
    top:0;
  }
  #playsong{
    width: 100;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #4F4F4F	;
  }
  .tab{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    flex-direction: column;
    padding: 0;
    font-size: 20px;
  }
  .share{
    width: 30px;
    height:30px;
    margin-left: 80%;
    margin-top: .6rem;
    position: absolute;
  }
  .pane1,.pane2,.pane3{
    font-size: .4rem;
    font-family: Helvetica;
    color: whitesmoke;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .song{
    width: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sharebox{
    height: 40%;
    margin-top: 40%;
    z-index: 50;
  }
  .el-icon-arrow-down{
    position: absolute;
    font-size: .4rem;
    margin-top: .8rem;
    margin-left: 10%;
    z-index: 5;
  }
  .tab{
    width: 100%;
    margin-top: .5rem;
  }
  .el-tabs__header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .el-tabs__content{
    width: 100%;
    height: 100%;
  }
  .el-tabs__active-bar{
    background: transparent;
  }
  .el-tabs__item{
    background: transparent;
  }
  .el-tabs__nav-wrap{
    width: 100%;
  }
  .el-tabs__nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .el-tabs__nav-wrap::after {
        position: static !important;
    }
  .el-slider__button-wrapper{
    z-index: 0;
  }
  .el-tab-pane{
    width: 100%;
    height: 100%;
  }
