#mine{
    width: 100%;
    height: 100%;
  }
  .tab{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    flex-direction: column;
    padding: 0;
    font-size: 20px;
    margin-top: .5rem;
  }
  .pane1{
    font-size: .5rem;
    font-family: Helvetica;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-right: 7rem;
  }
  .el-icon-message,.el-icon-more{
    font-size: .6rem;
  }
  .tab>>>.el-tabs__header{
    width: 100%;
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5;
    top: 0;
    background-color: white;
  }
  .tab>>>.el-tabs__content{
    width: 100%;
    height: 100%;
    margin-top: 1rem;
  }
  .tab>>>.el-tabs__active-bar{
    background: transparent;
  }
  .tab>>>.el-tabs__item{
    background: transparent;
  }
  .tab>>>.el-tabs__nav-wrap{
    width: 100%;
  }
  .tab>>>.el-tabs__nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tab>>>.el-tabs__nav-wrap::after {
        position: static !important;
    }
  .tab>>>.el-tab-pane{
    width: 100%;
    height: 100%;
  }
  .themorebox{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }
  .themessagebox{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    position: fixed;
    z-index: 10;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
  }
  .move-enter-active, .move-leave-active{
    transition:  all 30s liner;
    transform: translateX(0);
  }
  .move-enter,.move-leave{
    transform: translateX(100%);
  }
  .move-leave-to{
    transform: translateX(100%);
  }
  .el-icon-message{
    position:fixed;
    top:.4rem;
    right: 1.4rem;
    z-index: 5;
    color:black
  }
  .el-icon-more{
    position: fixed;
    top:.4rem;
    right: .4rem;
    z-index: 5;
    color:black
  }
  /** 个人主页 */
#personal {
  width: 100%;
  height: 100%;
  display: flex;
}
#personal > .box {
  width: 100%;
  height: 80%;
  background-color: white;
  margin-top: 0.4rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
}
.personalButtons {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.4rem;
  margin-top: 0.4rem;
}
.personalButtons div {
  margin-left: 0.3rem;
}
.headPic {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 1rem;
  margin-left: 0.1rem;
}
/** 活动 */
#activity{
  width: 100%;
  height: 100%;
  border-radius: .3rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.list {
  width: 100%;
  height: 16.5rem;
  overflow: scroll;
  background: white;
}
.list::-webkit-scrollbar {
  display: none;
}
.list > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.list > ul > li {
  width: 100%;
  height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.1rem;
  margin-bottom: 0.2rem;
}
.index{
  width: 14%;
  height: 100%;
  margin-left: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index span:nth-child(1) {
  color: gray;
  font-size: 0.4rem;
}
.index span:nth-child(2) {
  color: black;
  font-size: 0.3rem;
}
.nameBox {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1%;
}
.name{
    width: 100%;
    font-size: .45rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}