#song{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .song-tabs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 0.8rem;
  }
  
  .song-button img{
    margin-top: 0.2rem;
    width: 0.5rem;
    height: 0.5rem;
  }
  .song-tabs div{
    margin: 0 20px 0 20px;
  }
  .song-button{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 1.5rem;
    color: whitesmoke;
  }
  .song-button div{
    margin: 0 20px 0 20px;
  }
  .song-progrees{
    width: 80%;
    height: 5%;
  }
  .song-time{
    width: 100%;
    height: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: whitesmoke;
  }
  p:nth-child(2) {
    margin-left: 100%;
  }
  .song-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
  }
  .song-title{
    width: 60%;
    height: 1rem;
    overflow: auto;
  }
  .song-title::-webkit-scrollbar {display:none}
  .static{
    font-size: .8rem;
    color: whitesmoke;
    white-space: nowrap;
    justify-content: flex-start;
  }
  .static:hover{
    font-size: .8rem;
    color: white;
    white-space: nowrap;
    animation: 5s title linear infinite alternate;
  }
  @keyframes title {
    from {
      transform: translateX(0%);
      -webkit-transform: translateX(0%);
    }
    to {
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }
  }
  .song-box{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    margin-left: 30%;
  }
  .song-author{
    margin-top: 0.1rem;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .3rem;
  }
  .song-lyric{
    margin-top: .1rem;
    margin-bottom: .2rem;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .3rem;
  }
  .like{
    position:absolute;
    margin-left: 65%;
  }
  .like img{
    width: 1.5rem;
    height: auto;
  }