.song-list-block{
    width:100%;
    height: 4.5rem;
    margin-top: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.song-list-recommand-block{
    width: 100%;
    height: 6.1rem;
    margin-top: .3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom{
    width: 100%;
    height: 3rem;
}