#rankDetail{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  /** 标题部分 */
  .box1{
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: .5rem;
    position: fixed;
    top: 0;
    z-index: 5;
    color: white;
  }
  .el-icon-arrow-left{
    margin-left: 2.5%;
  }
  .box1 span:nth-child(2){
    margin-left: 75%;
    margin-right: 2.5%;
  }
  /** 图片主体部分 */
  .box2{
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgba(170, 165, 165, 0.397);
  }
  .bg-pic{
    position: absolute;
    opacity: .5;
    width: 100%;
    height: 6rem;
    z-index: -1;
  }
  .title{
    color: white;
    font-size: 1.3rem;
    margin-top: 2rem;
    white-space: nowrap;
  }
  .time{
    color: gray;
    font-size: .3rem;
    margin-top: 1.5rem;
  }
  .el-icon-warning-outline{
    color: white;
    margin-left: .1rem
  }
  /** 音乐列表头 */
  .box3{
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: .4rem;
  }
  /** 音乐列表 */
  .box4{
    width: 100%;
    height: auto;
  }
  .box4 ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  .box4 ul li{
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: .1rem;
    margin-bottom: .1rem;
  }
  .box4-1{
    width: 14%;
    height: 100%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box4-1 span:nth-child(1)
  {
    color: gray;
    font-size: .4rem;
  }
  .box4-1 span:nth-child(2){
    color: black;
    font-size: .3rem;
  }
  .box4-2{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1%;
  }
  .name{
    width: 100%;
    font-size: .45rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .box4-2-1{
    width: 100%;
    color: gray;
    font-size: .3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .box4-3{
    width: .5rem;
    height: .5rem;
    margin-left: 1%;
    margin-right: 4%;
  }
  /** 更多 */
  .box5{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 5;
    top: 0;
    overflow:scroll
  }
  .box5-1{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  .box5-1-1{
    font-size: .4rem;
  }
  .box5-1-2{
    margin-left: 25%;
    font-size: .4rem;
    margin-right: 25%;
    font-weight: 600;
  }
  .box5-1-3{
    font-size: .4rem;
  }
  .box5-2{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 100%;
    height: 87%;
    overflow: scroll;
    background: rgb(252, 252, 252);
  }
  .box5-3{
    width: 100%;
    height: 7%;
    margin-top: .52%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .box5-3 div{
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box5-3 div span:nth-child(1){
    font-size: .5rem;
  }
  .box5 ul li{
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: .1rem;
    margin-bottom: .1rem;
  }
  input[type="checkbox"]{
    width:.3rem;
    height:.3rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: .3rem;
    position: relative;
    border-radius: 50%;
  }
  input[type="checkbox"]::before{
    content: "";
    position: absolute;
    background: #fff;
    top: -.06rem;
    left: -.05rem;
    width: .36rem;
    height: .36rem;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
  }
  input[type="checkbox"]:checked::before{
    content: "\2713";
    background-color: rgb(26, 238, 238);
    position: absolute;
    top: -.06rem;
    left: -.04rem;
    width: .36rem;
    height: .36rem;
    border: 1px solid rgb(26, 238, 238);
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
  }
  