#onesinger{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .box1{
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: .5rem;
    color:white;
    position: fixed;
    top: 0;
  }
  .box2{
    width: 100%;
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    border-radius: 0 0 .5rem .5rem;
  }
  .box3{
    width: 90%;
    height: 1rem;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .2rem;
    margin-bottom: .2rem;
    border-radius: .3rem;
  }
  .box4{
    width: 100%;
  }
  .box4 >>> .el-tabs__header{
    width: 100%;
    height: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box4 >>> .el-tabs__nav-wrap{
    width: 100%;
    height: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box4 >>> .el-tabs__nav-wrap::after{
    background-color: transparent;
  }
  .box4 >>> .el-tabs__active-bar{
  background: black;
  height: .1rem;
  border-radius: 30%;
  }
  .box4 >>> .el-tabs__item{
    color: gray;
  }
  .box4 >>> .is-active{
    font-weight: 800;
    color: #000;
  }
  .box4 >>> .el-tabs__nav {
    width: 100%;
    background: transparent;
    height: .8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box4 >>> .el-tabs__content{
    width: 100%;
    height: auto;
  }
  .el-icon-arrow-left{
    margin-left: 5%;
  }
  /** box-1 与box-2 歌手上半部分内容 **/
  .title{
    width: 40%;
    margin-left: 25%;
    margin-right: 5%;
  }
  .share{
    width: .5rem;
    height: .5rem;
    margin-right: 5%;
  }
  .follow{
    width: 2rem;
    height: .8rem;
    font-size: .4rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    margin-left: 40%;
  }
  .cover{
    width: 100%;
    height: 7rem;
    position: absolute;
    z-index: -1;
    border-radius: 0 0 .5rem .5rem;
  }
  .coverName{
    margin-left: 6%;
    font-size: .5rem;
    margin-bottom: .2rem;
    color: white;
    font-weight: 900;
  }
  .coverFans{
    margin-left: 6%;
    font-size: .35rem;
    margin-bottom: .2rem;
    color: whitesmoke;
  }
  .coverGroup{
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
  }
  .team{
    width: 2.5rem;
    height: .8rem;
    background: rgb(189, 189, 202, .5);
    font-size: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .4rem;
    color: white;
    margin-left: 5%;
  }
  /** box-3 电子专辑 砍掉 **/
  /** box-4 页签 **/
  .pane{
    font-size: .4rem;
  }
  /** box-4-1 歌曲页签 **/
  .bs-1{
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: .4rem;
    background: white;
  }
  .bs-2{
    width: 100%;
    height: auto;
    background: white;
  }
  .bs-2 ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
  .bs-2 ul li{
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: .1rem;
    margin-bottom: .2rem;
  }
  .bs-2-1{
    width: 14%;
    height: 100%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bs-2-1 span:nth-child(1)
  {
      color: gray;
      font-size: .4rem;
  }
  .bs-2-1 span:nth-child(2){
      color: black;
      font-size: .3rem;
  }
  .bs-2-2{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1%;
  }
  /** box-4-1 歌曲下载 **/
  .bs-2-2-1{
    width: 100%;
    color: gray;
    font-size: .3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .bs-2-3{
    width: .5rem;
    height: .5rem;
    margin-left: 1%;
    margin-right: 4%;
  }
  .bs-3{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 5;
    top: 0;
    overflow:scroll
  }
  .bs-3-1{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
  }
  .bs-3-1-1{
    font-size: .4rem;
  }
  .bs-3-1-2{
    margin-left: 25%;
    font-size: .4rem;
    margin-right: 25%;
    font-weight: 600;
  }
  .bs-3-1-3{
    font-size: .4rem;
  }
  .bs-3-2-1{
    width: 14%;
    height: 100%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bs-3-2{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 100%;
    height: 87%;
    overflow: scroll;
    background: rgb(252, 252, 252);
  }
  .bs-3-3{
    width: 100%;
    height: 7%;
    margin-top: .52%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .bs-3-2-2{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 1%;
  }
  .bs-3-2-2-1{
    width: 100%;
    color: gray;
    font-size: .3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .bs-3-2-3{
    width: .5rem;
    height: .5rem;
    margin-left: 1%;
    margin-right: 4%;
  }
  .bs-3-3 div{
    width: 33.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bs-3-3 div span:nth-child(1){
    font-size: .5rem;
  }
  .bs-3 ul li{
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: .1rem;
    margin-bottom: .1rem;
  }
  input[type="checkbox"]{
    width:.3rem;
    height:.3rem;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: .3rem;
    position: relative;
    border-radius: 50%;
  }
  input[type="checkbox"]::before{
    content: "";
    position: absolute;
    background: #fff;
    top: -.06rem;
    left: -.05rem;
    width: .36rem;
    height: .36rem;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
  }
  input[type="checkbox"]:checked::before{
    content: "\2713";
    background-color: rgb(26, 238, 238);
    position: absolute;
    top: -.06rem;
    left: -.04rem;
    width: .36rem;
    height: .36rem;
    border: 1px solid rgb(26, 238, 238);
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
  }
  /** box-4-2 专辑 **/
  .box-album{
    width: 100%;
    height: auto;
  }
  .box-album ul{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .box-album ul li{
    width: 100%;
    height: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .albumCover{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: .3rem;
  }
  .ba-1{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 2.5%;
  }
  .ba-1 span:nth-child(1){
    width: 100%;
    font-size: .4rem;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .ba-1 span:nth-child(2){
    font-size: .3rem;
    color: gray;
    margin-top: .1rem;
  
  }
  .ba-2{
    width: 5%;
    font-size: .4rem;
  }
  /** box-4-3 视频 **/
  .bv-1{
    width: 100%;
    height: .8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .bv-1 >>> .el-icon-check::before{
    display: none;
  }
  .bv-1 >>> .el-input__inner{
    width: 1.5rem;
    border: none;
  }
  .bv-2{
    width: 100% ;
    height: auto;
    margin-top: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .bv-2-1{
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  margin-left: 1%;
  margin-right: 1%;
  list-style-type: none;
  }
  .bv-2-1 li{
    margin-bottom: .2rem;
  }
  .name-box{
    width: 100%;
    height: 1rem;
    word-break: break-all;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .videoCover{
    width: 100%;
    height: 3rem;
    border-radius: .3rem;
  }
  .tag{
    position: absolute;
    width: 100%;
    height: .5rem;
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /** box-4-4 关于TA **/
  .bt-1{
    width: 100%;
    margin-top: .1rem;
    margin-bottom: .1rem;
  }
  .bt-1 span:nth-child(1){
    width: 10%;
    font-size: .4rem;
    margin-left: 5%;
    font-weight: 600
  }
  .bt-1 span:nth-child(2){
    font-size: .3rem;
    margin-left: 60%;
  }
  .bt-2{
      width: 80%;
      height: 1.5rem;
      margin-left: 6%;
      display:-webkit-box;
      -webkit-line-clamp:4;
      -webkit-box-orient:vertical;
      text-overflow: ellipsis;
      overflow: hidden;
  }
  .bt-2 span{
      font-size: .3rem;
      color: gray;
      padding: 0;
      margin: 0;
  }
  .bt-7{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: whitesmoke;
    z-index: 5;
    top: 0;
    overflow:scroll;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .bt-7-1{
    width: 100%;
    height: 5%;
    font-size: .5rem;
    color: #000;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: white;
  }
  .bt-7-2{
    width: 80%;
    height: 90%;
    background:whitesmoke;
    overflow: scroll;
  }
  .bt-7-2 ul{
    padding: 0;
    list-style-type: none;
  }
  .bt-7-2::-webkit-scrollbar{
    display: none;
  }
  /** box-1 **/
  
  